th,
td {
    border: 1px solid black;
}

th {
    font-weight: normal;
}

table {
    border-collapse: collapse;
    text-align: center;
}

.col-1st {
    min-width: 80px;
}

.col-2nd {
    min-width: auto;
}

.col-3rd {
    min-width: 80px;
}

.space {
    letter-spacing: 40px;
}

.space_2 {
    letter-spacing: 3px;
}

.space_3 {
    letter-spacing: 100px;

}

.vertical {
    writing-mode: vertical-lr;
    text-align: center;
}

.diagonal-th {
    position: relative;
    width: 100px;
    height: 50px;
}

.diagonal-th::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 使用線性漸層繪製對角線 */
    background: linear-gradient(to top right, transparent 49.5%, black 49.5%, black 50.5%, transparent 50.5%);
}

.diagonal-th span.top_1 {
    position: absolute;
    top: 0px;
    right: 30px;
}

.diagonal-th span.top_2 {
    position: absolute;
    top: 10px;
    right: 10px;
}

.diagonal-th span.bottom_1 {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.diagonal-th span.bottom_2 {
    position: absolute;
    bottom: 0px;
    left: 40px;
}